<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">

  {{ $scss := resources.Get "style.scss" }}
  {{ $style := $scss | resources.ExecuteAsTemplate "style-parsed.scss" . | toCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
